input {
    width: 280px;
    text-align: center;
}

button {
    color:white;
    border: #4d94ff;
    background-color: #4d94ff;
    border-radius: 5px;
    padding: 15px;
    margin-left: 1.4em;
}
button:hover {
    background-color: #0052cc;
    border-color: #0052cc;
    /* opacity: 1.0; */
}

.header {
    background-color: #3888ff;
    color:white;
    /* margin:0; */
    /* padding: 0px; */
    /* width: 100vw;
    height: 20vh; */
    /* text-align: center; */
  }
.inputTextGroup {
      display:flex;
      flex-direction: row;
      justify-content: center;
      margin:auto;
  }
  input[type=text] {
    /* padding-left: 10px; */
    border: 1px solid #868484;
    border-color: #868484;
    border-radius: 5px;
    line-height: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
input {
    border: black;
}

h1, h2, h3, figcaption {
    /* margin-left: 10px; */
    font-family: 'Source Serif Pro', serif;
    /* text-align: left; */
}

.largeContainer {
    display:flex !important;
    justify-self: center !important;
    flex-direction: column !important;
    justify-content: center !important;
    justify-items: center !important;

}

#assignmentQuestions {
    align-self: center !important;
}
#inputs, #assignmentDescription {
    font-family: 'Source Serif Pro', serif
}


.questions {
    width:60vw;
    padding: 10px;
    margin:0.5em;
}


.two-btns {
    margin:0.5em;
    text-align: right;
}


#submitQuestions, #addQuestions {
    margin:0;
}
.pls-msg{
    text-align: center;
    margin-top:0.5em;
}
#assignmentSubmissions {
    justify-content: center;
    text-align: center;
}
.individual-submission {
    display:flex;
    flex-direction: column;
    margin:5px;
}
.question-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

@media (max-width: 978px) {
    .questions {
        width:100vw;
        margin:0;
    }
    .question-container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}