/* body {
    background-color: #e9e9e9;

    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    color: #828282;
}

h1 {
    font-weight: 500;
    margin: 0 0 0.4em 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

#myCanvas {
    background-color: #fff;

    width: 800px;
    height: 600px;
} */



body {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    margin: 1.5rem; 
}

.btn {
    border-radius: 5px !important; 
}

.btn.btn-primary {
    margin-bottom: 1rem; 
    background-color: #2081C3 !important; 
    border-color: #2081C3 !important; 
}

.btn.btn-secondary {
    margin-bottom: 5px; 
    background-color: #63D2FF; 
    border-color: #63D2FF;
}

a {
    color: #2081C3; 
}

a:hover { 
    color: #63D2FF; 
    text-decoration: none; 
}

input[type=text] {
    border-radius: 5px; 
    margin-bottom: 1px; 
}

#container {
    max-height: 100%;
    overflow: hidden;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.white {
    vertical-align: top;
    height: 47px;
    width: 79px;
    line-height: 48px;
    border: 1px solid;
    border-color: black;
    font-family: sans-serif;
    text-align: center;
}

#clear {
    vertical-align: top;
    display: inline-block;
    height: 47px;
    width: 79px;
    line-height: 48px;
    border: 1px solid;
    border-color: red;
    font-family: sans-serif;
    text-align: center;
}

#increaseThickness {
    vertical-align: top;
    display: inline-block;
    height: 47px;
    width: 79px;
    line-height: 24px;
    border: 1px solid;
    border-color: red;
    font-family: sans-serif;
    text-align: center;
}

#decreaseThickness   {
    vertical-align: top;
    display: inline-block;
    height: 47px;
    width: 79px;
    line-height: 24px;
    border: 1px solid;
    border-color: red;
    font-family: sans-serif;
    text-align: center;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
<<<<<<< Updated upstream
.color.white { background-color: white;}
=======
.color.white { background-color: white;}

.black, 
.red,
.green, 
.blue, 
.yellow {
    border-radius: 50%; 
    behavior: url(PIE.htc); 
    margin: 10px; 
}

/* The box */

#pallet {
    text-align: center;
    position: relative;
    background: #dbfcff;
    border-radius: 1em;
    margin: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 10px #888888;
}


/* the arrow */

#pallet:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-bottom-color: #dbfcff;
    border-top: 0;
    margin-left: -35px;
    margin-top: -35px;
}

.overflow-content {
    display: none;

  }

  .show {
      display: block;
    }

#submitWork {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#questions {
    position: absolute;
    top: 0;
    right: 10px;
    width: fit-content;
}

#myCanvas {
    border: 1px solid black;
}

.error {
    color: red;
    font-size: 10px;
}
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue; 
}



>>>>>>> Stashed changes
