/* body {
    background-color: #e9e9e9;

    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    color: #828282;
}

h1 {
    font-weight: 500;
    margin: 0 0 0.4em 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

#myCanvas {
    background-color: #fff;

    width: 800px;
    height: 600px;
} */



body {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    margin: 1.5rem; 
}

.btn {
    border-radius: 5px !important; 
}

.btn.btn-primary:hover {
    opacity: 1.0;
}

.btn.btn-primary {
    margin-bottom: 1rem; 
    margin-right: 5px;
    margin-left: 5px;
    background-color: #2081C3 !important; 
    border-color: #2081C3 !important; 
    opacity: 0.7;
}

.selected {
    opacity: 1;
}
.btn.btn-secondary {
    margin-bottom: 5px; 
    background-color: #63D2FF; 
    border-color: #63D2FF;
}

a {
    color: #2081C3; 
}

a:hover { 
    color: #63D2FF; 
    text-decoration: none; 
}

input[type=text] {
    border-radius: 5px; 
    margin-bottom: 1px; 
}

#container {
    max-height: 100%;
    overflow: hidden;
}

.colors {
    position: relative;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.white {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    width: 33px;
    height: 35px; 
    line-height: 35px;
    padding: 0px;
    border:none;
}

#clear {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    width: 30px;
    height: 38px; 
    line-height: 38px;
    padding: 1px;
    border:none;
    background-color: dodgerblue;;
    /* border: 1px solid; */
    /* border-color: red; */
    /* font-family: sans-serif; */
    
}

#increaseThickness {
    vertical-align: middle;
    display: inline-block;
    color: white;
    background-color: lightgray;
    border: 0px solid;
    /* border-color: lightskyblue; */
    /* height: 47px;
    width: 79px; */
    /* font-size: large;
    line-height: 24px; */
    /* font-family: sans-serif; */
}

#decreaseThickness   {
    vertical-align: middle;
    display: inline-block;
    color: white;
    background-color:lightgray;
    border: 0px solid;
    /* height: 47px; */
    /* width: 79px;  */
    /* font-size: large; */
    /* line-height: 24px; */
    /* border-color: lightskyblue; */
    
}

#erase { 
    background-color: deepskyblue;
    cursor: pointer; 
    border: none;
    padding: 1px;
    height: 38px;
}

#room {
    vertical-align: middle;
    height: 47px;
    width: 140px;
    line-height: 48px;
    border: 1px solid;
    border-color: black;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white;}

.black, 
.red,
.green, 
.blue, 
.yellow {
    border-radius: 50%; 
    behavior: url(PIE.htc); 
    margin: 10px; 
}

/* The box */

#pallet {
    text-align: center;
    position: relative;
    background: #dbfcff;
    border-radius: 1em;
    margin: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 10px #888888;
}


/* the arrow */

#pallet:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-bottom-color: #dbfcff;
    border-top: 0;
    margin-left: -35px;
    margin-top: -35px;
}

.overflow-content {
    display: none;
}

.show {
    display: block;
}

#submitWork {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#questions {
    position: absolute;
    top: 0;
    right: 10px;
    width: fit-content;
}

#myCanvas {
    border: 1px solid black;
}

.error {
    color: red;
    font-size: 10px;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue; 
}

#overlay:not(#exclude){
    /* display: none; */
    background-color: rgba(0,0,0,0.5);
    padding-top:2em;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

/* menu*/
#menu {
    
    border: 1px solid;
    border-color: red;
    display:inline-block;
    vertical-align: middle;

} 
.bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 6px;
    transition: 0.1s;
}
/* menu animate from 3 bars to X */
.rotate .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.rotate .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.rotate .bar2 {
    opacity: 0;
}
#intro-wrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 320px;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    /* grid-template-rows: 50px auto; */
    box-shadow: 0 0 5px black;
}

input[type=text] {
    padding-left: 10px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 5px;
    line-height: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

input[type=text]:disabled {
    opacity: 0.5;
}
#buttons {
    justify-content: space-between;
    margin: auto;
    display: flex;
    padding: 10px;
}