/* body {
    background-color: #e9e9e9;

    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    color: #828282;
}

h1 {
    font-weight: 500;
    margin: 0 0 0.4em 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

#myCanvas {
    background-color: #fff;

    width: 800px;
    height: 600px;
} */



/* body {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    margin: 1.5rem; 
} */
body {
    overflow: hidden;
}

.btn {
    border-radius: 0px; 
}

.btn-primary:active, .btn.btn-primary:hover {
    background-color: #2081C3;
    border-color: #2081C3;
    /* opacity: 1.0; */
}

 .btn.btn-primary {
    /* margin-bottom: 1rem; 
    margin-right: 5px;
    margin-left: 5px; */
    /* background-color: #2081C3 !important;  */
    background-color: #65b3e6;
    border-color: #65b3e6; 
    width: 50em;
    /* opacity: 0.7; */
}

.selected {
    opacity: 1;
}
.btn.btn-secondary {
    margin-bottom: 5px; 
    background-color: #63D2FF; 
    border-color: #63D2FF;
    width: 280px;
}
.btn.btn-secondary:hover {
    background-color: #00a4e6;
}
a {
    color: #2081C3; 
}

a:hover { 
    color: #63D2FF; 
    text-decoration: none; 
}

input[type=text] {
    border-radius: 5px; 
    margin-bottom: 1px; 
}

#container {
    max-height: 100%;
    overflow: hidden;
}

.colors {
    position: relative;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.white {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    margin-right: 5px;
    width: 33px;
    height: 35px; 
    border: none;
    /* line-height: 35px; */
    padding: 0px;
    /* border-color:black;
    border-width: 1px; */
}

#clear {
    border: none;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 38px; 
    line-height: 38px;
    padding: 1px;
    background-color: transparent;
    
}
#increaseThickness {
    vertical-align: middle;
    display: inline-block;
    /* margin: 10px 0; */
    color: white;
    background-color: lightgray;
    border: none;
    position: relative;
    height: 25px; 
    width: 25px; 
    /* border-color: lightskyblue; */
    /* height: 47px;
    width: 79px; */
    /* font-size: large;
    line-height: 24px; */
    /* font-family: sans-serif; */
}

#decreaseThickness   {
    vertical-align: middle;
    display: inline-block;
    /* margin: 10px 0; */
    color: white;
    background-color:lightgray;
    border: none;
    height: 25px; 
    width: 25px; 
    /* font-size: large; */
    /* line-height: 24px; */
    /* border-color: lightskyblue; */
    
}

#erase { 
    cursor: pointer; 
    /* border: black; */
    /* height: 38px; */
}

#room {
    vertical-align: middle;
    /* float: right; */
    margin-left: 25%;
    margin-right: 25%;
    height: 47px;
    width: 190px;
    line-height: 48px;
    border: 1px solid;
    border-color: black;
    font-family: sans-serif !important;
    text-align: center;
    display: inline-block;
}


.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white;}

.black, 
.red,
.green, 
.blue, 
.yellow {
    border-radius: 50%; 
    behavior: url(PIE.htc); 
    margin: 10px; 
}

/* The box */

#palette {
    text-align: center;
    position: absolute;
    background: #dbfcff;
    border-radius: 1em;
    margin: 40px;
    margin-top: 10vh;

    padding: 10px;
    /* padding-bottom: 10px; */
    box-shadow: 5px 10px #888888;
}


.overflow-content {
   display:none;
}

.show {
    display: block;
}

#submitWork {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#questions {
    vertical-align: right;
    top: 0;
    right: 10px;
    width: fit-content;
    font-size: 16px;
}

#myCanvas {
    border: 1px solid black;
    
}

.error {
    color: red;
    font-size: 10px;
}

h1 {
    font-family: 'Source Serif Pro', serif !important;
}

#overlay:not(#exclude){
    /* display: none; */
    background-color: rgba(0,0,0,0.5);
    padding-top:2em;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

#intro-wrapper1 {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 340px;
    width: 320px;
    /* justify-content: center; */
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    /* grid-template-rows: 50px auto; */
    box-shadow: 0 0 5px black;
}

input[type=text] {
    padding-left: 10px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 5px;
    line-height: 20px;
    font-size: 20px;
    font-family: sans-serif !important;
}

input[type=text]:disabled {
    opacity: 0.5;
}
#buttons {
    display: flex;
    justify-content: center;
    margin:auto;
    /* margin-top: 1em;
    margin-bottom: 2em; */
    width: 280px;
}
@media (max-width: 978px) {
    #buttons {
        margin:auto;
    }
}

#createOption {
    background-color: #2081C3;
    border-color: #2081C3;
}
input {
    width: 280px;
}

#penThickness {
    vertical-align: middle;
    display: inline-block;
    font-size: 30px;
    /* color: black;
    border: black;
    border-width: 1px; */
}

#submitWork {
    color:white;
    border: #4d94ff;
    background-color: #4d94ff;
    border-radius: 5px;
    padding: 5px;
    
    margin: 1.4em;
}
#submitWork:hover {
    background-color: #0052cc;
    border-color: #0052cc;
    /* opacity: 1.0; */
}

#proj-name {
    text-align: center;
    margin: 20px;
}