body {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    /* touch-action: none; */
    font-family: sans-serif;
}

button, input {
    padding-right: 5px;
}

#container {
    max-height: 100%;
    overflow: hidden;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.white {
    vertical-align: top;
    height: 47px;
    width: 79px;
    line-height: 48px;
    border: 1px solid;
    border-color: black;
    font-family: sans-serif;
    text-align: center;
}

#clear {
    vertical-align: top;
    display: inline-block;
    height: 47px;
    width: 79px;
    line-height: 48px;
    border: 1px solid;
    border-color: red;
    font-family: sans-serif;
    text-align: center;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white;}